.Starship{
    width: 100%;
    height: 400px;
    color: rgba(255, 255, 255, 0.744);
    margin-top: 40px;
}

.Starship-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Starship-down{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.7%;
}


.Starship-pagination{
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.Starship-pagination button{
    width: 110px;
    height: 30px;
    border-radius: 5px;
    border-color: bisque;
    font-size: 15px;
}