.PlanetBlock{
    width: 17%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: linear-gradient(rgb(184, 108, 27),rgb(3, 3, 69));
    border-radius: 10px;
}

.PlanetBlock button{
    width: 120px;
    height: 30px;
    border-radius: 7px;
    font-size: 14px;
    background-color: rgb(30, 25, 87);
    color: #f4efef;
    transition: .6s;
}

.PlanetBlock button:hover{
    background-color: #d5d0d0;
    color: rgb(18, 17, 17);
    border: 3px solid black;
}

.Planet-name{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Planet-name h3{
    font-size: 20px;
}

